/* 

color scheme 1 
http://colorschemedesigner.com/#2Q62rlKoTw0w0
color scheme 2
http://colorschemedesigner.com/#3m62rhTT9w0w0

*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

@media all {
	body {
		font-family: "Lato", sans-serif;
		font-size: 16px;
		background-color: #eaeddd;
	}
}

@media (max-width: 990px) {
	body {
		font-size: 14px;
	}
}

h1 {
	font-family: "Lato", sans-serif;
	font-size: 1.5em;
	margin: 0;
	letter-spacing: 4px;
	word-spacing: 3px;
	line-height: 1.15;
	color: #4e2699;
	padding-top: 0.4em;
	padding-bottom: 0.23em;
}

h2 {
	display: block;
	font-family: "Shadows Into Light Two", sans-serif;
	padding-top: 0.4em;
	padding-left: 1em;
	margin: 0;
}

h3 {
	padding-left: 0.8em;
	font-size: 1.4em;
	line-height: 0.7em;
	margin-bottom: 0;
	margin-top: 1.4em;
	font-weight: 300;
	letter-spacing: 1.4px;

}

p {
	letter-spacing: 0.7px;
	line-height: 1.23em;
	margin: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

#profile {
	display: inline-block;
	width: 22%;
	float: left;
	z-index: 10000;
	box-shadow: 2px 1px 4px #c2ca9a;
	background-color: #ffffff;
}

.intro {
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	font-family: "Shadows Into Light Two", sans-serif;
}

.intro span {
	display: block;
	letter-spacing: 0.1em;
	line-height: 1.2;

}

.intro p:last-child {
	letter-spacing: 1.9px;
}

.intro div:first-child {
	height: 15em;
	background: url("../image/me.jpg") center no-repeat;
	background-size: 110%;
	background-position: -0.625em -6.25em;
	border-bottom: 1px solid #FFB671;
	line-height: 2.5em;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.intro img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	border-radius: 60px;
	border: 4px solid #FFB671;
}

.skills {
	background-color: #ffffff;
}

.skills img, p {
	display: block;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 0.8em;
	padding-top: 0.8em;
}

.skills img {
	width: 40%;
}

.skills p:last-child {
	line-height: 1.17;
	text-align: left;
	padding: 0.8em 1.2em 2em 2.4em;
}


#timeline {
	display: inline-block;
	width: 8%;
	float: left;
	z-index: 10000;
}

#timeline div {
	text-transform: uppercase;
	width: 78%;
	margin: 0.8em auto 1.4em auto;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #69d3e7;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	border-radius: 3px;
}


#timeline span:before {
	position: relative;
	display: block;
	top: -38px;
	content: "";
	line-height: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid  #69d3e7;
}

#timeline .line {
	width: 2px;
	height: 440px;
	background-color: #69d3e7;
	margin: 0 auto;
}

#timeline div:last-child {
	margin-top: 0.8em;
	background-color: #FFB671;
}

#portfolio {
	display: inline-block;
	width: 70%;
	float: right;
	top: 0;
	background-color: #eaeddd;
	box-shadow: -2px -1px 4px #c2ca9a;
}

.port nav {
	position: relative;
	width: 100%;
	height: 3em; /* temporary fix */
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	background-color: #E0E4CC;
	border-bottom: 1px solid rgba(210, 179, 135, 0.6);
	z-index: 5000;
}

.stretch {
	width: 100%;
	height: 0;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

.port nav a {
	display: inline-block;
	text-decoration:  none;
	padding: 0 1em;
	font-weight: 300;
	color: #ffffff;
	line-height: 3em;
	background-color: red;
}

.port nav a:hover {
	background-color: #ffffff;
	color: #FFB671;
}

#project div {
	margin: 0;
}

.screenshot {
	width: 100%;
	height: 450px;
	background: url("../image/project1_scr1.png") top no-repeat;
	background-size: cover;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.description {
	display: inline-block;
	float: left;
	width: 62%;
	height: 180px;
	background-color: #eaeddd;
}

.description p {
	padding: 1.2em;
	padding-left: 
}

.summary {
	width: 38%;
	height: 180px;
	float: right;
	box-sizing: border-box;
}

.summary button {
	width: 100%;
	background: url("../image/github.png") no-repeat;
	background-size: 20%;
	background-position: 0.8em 0.7em;
	text-align: left;
	padding: 24px 0;
	padding-left: 30%;
	border: none;
	background-color: #CCD2AB;

}

button a {
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
}

.summary img {
	display: inline-block;
	width: 80px;
	padding: 8px;
	margin: 0;
}

.summary ul {
	padding: 0;
}

.js, .css, .html {
	box-sizing:border-box;
	width: 7em;
	height: 4.3em;
	margin: 0 0.2em;
	text-align: center;
	padding-top: 1.7em;
}

.js {
	background: url("../image/js-logo.png") no-repeat;
	background-size: 30%;
	background-position: 0.3em 0.7em;
}

.css {
	background: url("../image/css-logo.png") no-repeat;
	background-size: 30%;
	background-position: 0.3em 0.7em;
}

.html {
	background: url("../image/html-logo.png") no-repeat;
	background-size: 30%;
	background-position: 0.3em 0.7em;
}

.summary li {
	display: inline-block;
	vertical-align: top;
}

.tags li {
	font-size: 0.8em;
}

